<section id="#menu">
    <h2>OUR MENU</h2>
        <div>
            <img src="./../../../assets/img/R1.png" alt="">
            <table>
                <tbody>
                    <tr>
                        <th>Tonkatsu Ramen</th>
                    </tr>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>Shoyu Ramen</th>
                    </tr>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
            <img src="./../../../assets/img/R2.png" alt="">
        </div>
        <div>
            <img src="./../../../assets/img/R3.png" alt="">
            <table>
                <tbody>
                    <tr>
                        <th>Shio Ramen</th>
                    </tr>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>