h2 {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

section {
  font-family: "Economica", sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 64px;
  padding-bottom: 120px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      width: 128px;
      height: 128px;
      padding-bottom: 16px;
    }
  }
}
